name: Release Staging

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Image tag to deploy (e.g., v.staging-86a9rje6b.2)'
        required: true
        type: string

env:
  AKS_CLUSTER_NAME: mks-community-cluster
  AKS_RESOURCE_GROUP: mks-community-group
  NAMESPACE: tenant-entain-organization
  APP_NAME: sportingbet-cwc
  DEPLOYMENT_NAME: sportingbet-cwc-staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set image tag
        run: echo "IMAGE_TAG=${{ github.event.inputs.image_tag }}" >> $GITHUB_ENV

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set up Kubectl
        uses: azure/setup-kubectl@v1

      - name: Get AKS credentials
        run: |
          az aks get-credentials --name gb-aks-cluster --resource-group gb-container-app --overwrite-existing

      - name: Deploy to AKS
        run: |
          kubectl set image deployment/${{ env.DEPLOYMENT_NAME }} ${{ env.DEPLOYMENT_NAME }}=${{ secrets.REGISTRY_URL }}/${{ env.APP_NAME }}:${{ env.IMAGE_TAG }} -n ${{ env.NAMESPACE }}
          kubectl rollout status deployment/${{ env.DEPLOYMENT_NAME }} -n ${{ env.NAMESPACE }}

      - name: Notify Slack - Deployment Success
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: your-slack-channel
          SLACK_USERNAME: GitHub Actions
          SLACK_COLOR: 'good'
          SLACK_TITLE: 'Staging Deployment Successful'
          SLACK_MESSAGE: 'Staging deployment of ${{ env.DEPLOYMENT_NAME }}:${{ env.IMAGE_TAG }} completed successfully.'
          SLACK_ICON: ':rocket:'
        if: success()

      - name: Notify Slack - Deployment Failed
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: your-slack-channel
          SLACK_USERNAME: GitHub Actions
          SLACK_COLOR: 'danger'
          SLACK_TITLE: 'Staging Deployment Failed'
          SLACK_MESSAGE: 'Staging deployment of ${{ env.DEPLOYMENT_NAME }}:${{ env.IMAGE_TAG }} failed.'
          SLACK_ICON: ':warning:'
        if: failure()
